.top-content
  .row
    .span12
      .row
        / left content
        .span.pull-left.video
          = image_tag 'video_placeholder.jpg', class: 'youtube'

        / right content
        .span.pull-left.video-content
          .video-title
            %h1.thin-title Learning Languages
            %h1.thick-title
              Just Got A Whole
              %br
              Lot Easier!

          .button-content
            = image_tag 'btn_start_learning_onclick.png', class: ''